<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="LAB205" connectionString="Data Source=LAB205\SQLEXPRESS;Initial Catalog=Inmobiliaria2;Persist Security Info=True;User ID=UserCreator;Password=UserCreator"/>
    <add name="Casa" connectionString="Data Source=DESKTOP-EGIGA8N\\SQLEXPRESS;Initial Catalog=Inmobiliaria;Integrated Security=True"/>
    <add name="LABOarriba" connectionString="Data Source=localhost\\SQLEXPRESS01;Initial Catalog=Inmobiliariaa;Persist Security Info=True;User ID=UserCreator;Password=UserCreator"/>
    </connectionStrings>
</configuration>
